apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mysql
    tier: database
  name: mysql
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
      tier: database
  strategy: {}
  template:
    metadata:
      labels:
        app: mysql
        tier: database
    spec:
      initContainers:
      # 1. NETTOIE le PVC à chaque redéploiement
      - name: mysql-data-cleaner
        image: busybox:1.36
        command: ['sh', '-c']
        args:
        - |
          echo "Cleaning /var/lib/mysql for fresh MySQL 8 init..."
          rm -rf /var/lib/mysql/*
          mkdir -p /var/lib/mysql
          chown -R 999:999 /var/lib/mysql  # UID mysql dans l'image
        volumeMounts:
        - name: mysql-db
          mountPath: /var/lib/mysql
      containers:
      - image: mysql:8.4.0
        name: mysql
        env:
        - name: MYSQL_DATABASE
          value: pricelist
        - name: MYSQL_PASSWORD
          value: pricelist
        - name: MYSQL_USER
          value: pricelist
        - name: MYSQL_RANDOM_ROOT_PASSWORD
          value: "yes"
        volumeMounts:
        - mountPath: /var/lib/mysql/data
          name: mysql-db
#        - name: mysql-config
#          mountPath: /etc/mysql/conf.d/my.cnf
#          subPath: my.cnf
        livenessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 30
          periodSeconds: 10
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
            cpu: "500m"
      volumes:
      - name: mysql-db
        persistentVolumeClaim:
          claimName: pricelist-db-pvc
#      - name: mysql-config
#        configMap:
#          name: mysql-config
